.news-list-main {
    margin-top: 100px;
}

.news-list-main .title {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: left;
    margin-bottom: 30px;
    cursor: pointer;
    color: #00264d;
}

.news-list-main .news-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 10px;
}

@media (max-width: 1024px) {
    .news-list-main .news-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .news-list-main {
        margin-top: 50px;
        padding: 20px;
    }
}

@media (max-width: 1024px) {
    .news-list-main .news-list {
        grid-template-columns: repeat(1, 1fr);
    }
}